.container_home {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
}

.profile_picture_div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img_container {
    width: 110px;
    height: 110px;
    border-radius: 100px;
    border: 4px var(--primary-blue) solid;
    overflow: hidden;
}

.profile_container_div {
    width: 100%;
    padding-left: var(--pd-l);
    padding-right: var(--pd-r);
}

.profile_container_div h1 {
    text-align: center;
    color: black;
    font-size: 26px;
    font-weight: 900;
}

.div_container_info {
    box-shadow: gray 0px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.div_container_info h2 {
    font-size: 16px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
}

.div_container_info ion-chip {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: var(--secondary-blue);
}

.users_infos {
    display: flex;
    justify-content: space-between;
}

.div_user_info {
    width: 30%;
}


.div_user_info h3 {
    margin-top: 0px;
    text-decoration: underline;
    font-size: 13px;
    text-align: center;
    font-weight: 700;
}

.div_user_info p {
    text-align: center;
}

.injurie_div {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;

}

.injurie_state {
    width: 80px;
    text-align: center;
    padding-left: 10px;
    color: white;
    font-weight: 400;
    padding-right: 10px;
    border-radius: 10px;
}

.ip_class {
    background-color: orange;
}

.nt_class {
    background-color: red;
}

.tr_class {
    background-color: green;
}

.list-item {
    margin-inline-start: var(--pd-l) !important;
    margin-inline-end: var(--pd-r) !important;
    border-radius: 10px !important;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px #d4d4d4;
}
.filter-div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.filter-div ion-button {
    width: 100%;
    height: 40px;
}

.input_injurie ion-input {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding-left: 15px !important;
    padding-right: 15px !important;
    min-height: 40px !important;
}
.input_injurie {
    margin-bottom: 10px;
}
.input_injurie ion-textarea {
    padding-left: 15px;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.filter-div .input-label-placement-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    -webkit-transfor: none ;
    transform: none ;
}

.input_injurie ion-list {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}


.input_injurie ion-list ion-item {
    display: flex;
    align-items: center;
    height: 40px !important;
    min-height: 40px !important;
    width: 100%;
    height: 40px;
}

ion-select.custom-ion-select::part(icon) {
    left: 0px;
  }

  ion-popover {
    --width: cover;
  }

  /** Injuries list **/
  .injurie_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.injurie_div_info {
      margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px #d4d4d4;
  }

  .injurie_div_info .injurie_state {
    width: 120px;
    color: white !important;
  }

  .injurie_div_parent {
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    width: 90%;
  }

  .injurie_icon {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }