
Django==4.1
django-cors-headers
djangorestframework-simplejwt
djangorestframework
markdown
drf-standardized-errors
drf-yasg
gunicorn
psycopg2
python-dotenv
whitenoise
coreschema
coreapi
django-filter
Pillow
django-allauth
django-rest-auth