@import './base.css';
@import './index.css';

#app {
  height: 100vh;
  width: 100vw; 
}

.mainWrapper {
  padding-left: 20px;
}

a,
.green {
  text-decoration: none;
  color: var(--background);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--primary-blue20);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
