localhost {

	encode gzip
	
	handle /static/* {
		root * /srv/app
		file_server
	}

	handle /media/* {
		root * /srv/app
		file_server
	}

	handle /api/* {
		reverse_proxy /backend/* django:8000
	}

	log

	handle {
		
		encode gzip

		root * /var/www/admin/
		try_files {path} /index.html

		file_server
	}
    
} 