#nav-menu-tab {
    background-color: var(--primary-blue) !important;
    --background : none !important;
}

#nav-menu-tab * {
    background-color: var(--primary-blue) !important;

}

ion-icon {
    font-size: 22px;
}

