#nav-menu-tab {
    background-color: var(--primary-blue) !important;
    --background: none !important;
    padding-bottom: 5px;
}

#nav-menu-tab * {
    background-color: var(--primary-blue) !important;
}

ion-icon {
    font-size: 22px;
}

#nav-menu-tab ion-label {
    font-size: 7px;
    margin-top: 4px;
    color: white;
}