#nav-menu-tab {
    background-color: var(--primary-blue) !important;
    --background: none !important;
}

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
    #nav-menu-tab {
    --ion-safe-bottom-area : 5px;
    padding-bottom: var(--ion-safe-bottom-area);
    }
  }

#nav-menu-tab * {
    background-color: var(--primary-blue) !important;

}

ion-icon {
    font-size: 22px;
}

#nav-menu-tab ion-label {
    font-size: 7px;
    margin-top: 4px;
    color: white;
}