#header-wrapper {
    box-shadow: 0px 4px 8px #d4d4d4;
    z-index: 1;
}

.list-item {
    margin-inline-start: var(--pd-l) !important;
    margin-inline-end: var(--pd-r) !important;
    border-radius: 10px !important;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px #d4d4d4;
}

.input-label-placement-floating.sc-ion-input-md-h input.sc-ion-input-md {
    opacity: 1;
}

#search-input {
    border-radius: 20px;
}

ion-input ion-label {
    font-size: 16px;
    text-transform: none;
}

ion-segment-button ion-label {
    text-transform: none;
    font-weight: 700;
    font-size: 14px;
}

.list-item ion-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-div {
    display: flex;
    justify-content: space-between;
}

.filter-div ion-button {
    width: 45%;
    height: 60px;
    padding-top: 8px;
}

.filter-div ion-list {
    width: 45%;
    height: 60px;
}

ion-segment {
    display: flex;
}

ion-segment-button {
    width: 50%;
}

ion-select {
    width: 100%;
    justify-content: center;
}

.select-wrapper {
    font-size: 40px;
}

ion-select::part(container) {
    width: 100%;
}

ion-popover .popover-viewport {
    width: 100%;
}

.exercice-img {
    background-color: var(--primary-blue50);
    width: 50px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

/* View Page */
.info_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info_wrapper .info_exercise {
    width: 45%;
}

.info_wrapper .info_exercise ion-chip {
    font-size: 10px !important;
}

.num_step {
    background-color: var(--primary-blue);
    width: 25px;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.step_info ion-label {
    font-size: 12px !important;
}

.info_wrapper h2 {
    margin-top: 0px;
}