#header-wrapper {
    box-shadow: 0px 4px 8px #d4d4d4;
    z-index: 1;
}

.exercice_label {
    font-size: 12px !important;
}

.static-modal h4 {
    text-align: left;
    margin-top: 10px;
}

.filter-div {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.filter-div ion-button {
    width: 45%;
    font-size: 12px !important;
    height: 35px;
    min-height: 30px;
}

.filter-div ion-list {
    width: 45%;
    height: 35px !important;
    min-height: 35px !important;
    display: flex;
    align-items: center;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

.filter-div ion-list ion-item {
    display: flex;
    align-items: center;
    font-size: 12px !important;
    height: 35px !important;
    min-height: 35px !important;
    width: 100%;
}

.list-item {
    margin-inline-start: var(--pd-l) !important;
    margin-inline-end: var(--pd-r) !important;
    border-radius: 10px !important;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 8px #d4d4d4;
    margin-bottom: 15px;
}

.parent-list {
    background-color: transparent;
}

.input-label-placement-floating.sc-ion-input-md-h input.sc-ion-input-md {
    opacity: 1;
}

#search-input {
    border-radius: 20px;
    min-height: 0px;
    height: 35px;
    border-color: var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, var(--ion-background-color-step-250, #c8c7cc))));
    border: solid 1px;
}

#search-input .input-wrapper {
    padding-left: 20px;
}

ion-input ion-label {
    font-size: 10px;
    text-transform: none;
}

ion-segment-button ion-label {
    text-transform: none;
    font-weight: 700;
    font-size: 14px;
}

.list-item ion-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



ion-segment {
    display: flex;
}

ion-segment-button {
    width: 50%;
}

.filter-div ion-select {
    width: 100%;
    height: 40px !important;
    min-height: 40px !important;
    justify-content: center;
}

.select-wrapper {
    font-size: 40px;
}

ion-select::part(container) {
    width: 100%;
}

ion-popover .popover-viewport {
    width: 100%;
}

.list-item::part(native) {
    padding-left: 5px !important;
}

#view_page::part(scroll) {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.exercice-img {
    background-color: var(--primary-blue50);
    width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.exercice-thumbnail {
    width: 45px;
    height: 45px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    overflow: hidden;
}

.list-md.list-inset {
    margin: 0px;
    margin-top: 15px;
}

.exercice-thumbnail img {
    object-fit: cover;
    height: 100%;
}

h6 {
    font-size: 11px !important;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #c8c7cc;
    font-style: italic;
}

h6:first-child {
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 5px;
}

/* View Page */
#tabs-exercise {
    margin-top: 10px;
    box-shadow: lightgray 0px 8px 10px 0px;
}

.v-tabs--density-default {
    --v-tabs-height: 30px;
}

#tabs-exercise button {
    height: 35px !important;
    text-transform: inherit;
    width: 50%;
    padding: 0px;
    border-radius: 10px 10px 0px 0px;
    font-size: 12px;
}

#tabs-exercise .v-tab--selected {
    height: 35px !important;
    background-color: var(--primary-blue);
    color: white;
}



.info_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#player {
    width: 100%;
    background-color: black;
}

.info_wrapper .info_exercise {
    width: 45%;
}

.info_wrapper .info_exercise ion-chip {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 8px !important;
    pointer-events: none;
}

.instructions {
    padding-left: calc(var(--pd-l) - 10px);
    padding-right: calc(var(--pd-l) - 10px);
    flex: 1;
}

.v-card-text {
    padding: 0px !important;

}

.instructions .v-card-text {
    padding: 0px !important;
}

.instructions .v-window {
    padding-left: 10px;
    padding-right: 10px;
}

.num_step {
    background-color: var(--primary-blue);
    width: 25px;
    height: 25px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.step_info ion-label {
    font-size: 12px !important;
}

.info_wrapper h2 {
    margin-top: 0px;
    font-size: 16px;
}

.muscles_list {
    background-color: transparent;
}

.muscles_list ion-item .item-native item-inner {
    font-size: 10px !important;
}

.list-md.list-inset {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}